sudo: false

language: php
php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4

matrix:
    include:
        - php: 7.1
          env: dependencies=lowest

before_script:
  - rm composer.lock
  - composer install --no-interaction -o
  - if [ "$dependencies" = "lowest" ]; then composer update -o --prefer-lowest; fi;

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit

after_script:
  - php bin/coveralls.phar -v
